<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Bus Stop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <form class="form-horizontal" action="newstop" method = "post">
   <fieldset>

   <!-- Form Name -->
   <legend><center>Add bus stop</center></legend>

   <!-- Text input-->
   <div class="form-group">
     <label class="col-md-4 control-label" for="stopname">Stop Name</label>
     <div class="col-md-4">
     <input id="stopname" required name="stopname" type="text" placeholder="" class="form-control input-md">

     </div>
   </div>

   <!-- Text input-->
   <div class="form-group">
     <label class="col-md-4 control-label" for="lat">Latitude</label>
     <div class="col-md-4">
     <input id="lat" requred name="lat" type="text" placeholder="" class="form-control input-md">

     </div>
   </div>

   <!-- Text input-->
   <div class="form-group">
     <label class="col-md-4 control-label" for="lon">Longitude</label>
     <div class="col-md-4">
     <input id="lon" required name="lon" type="text" placeholder="" class="form-control input-md">

     </div>
   </div>

   <!-- Button -->
   <div class="form-group">
     <label class="col-md-4 control-label" for="submit"></label>
     <div class="col-md-4">
       <button type="submit" class="btn btn-primary">Initialize Bus Stop</button>
     </div>
   </div>

   </fieldset>
   </form>

</body>
</html>
